settings.py
samples/
__pycache__/*
*.python-version
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
docs/_build
coincheck.egg-info/
*.pyc
*.swp
*.egg
env/
dist
